/* import local Aligrah font  */
@import url(fonts/Aligrah.css);

/* variables */
:root {
  --primaryGreen: #435730;
  --primaryDarkGreen: #27321c;
  --neutralGray: #bdc2b4;
  --neutralWhite: #fff;
}

/* helper class */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* global reset */
* {
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: Aligarh;
}

body,
input,
textarea,
::placeholder,
button,
a {
  font-family: 'Aligrah', serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  flex-direction: column;

}

/* contact section  */
.contact-outer-container {
  padding-top: 20px;
  min-width: 100%;
  min-height: 100vh;
  background-size: min(80rem, 90%);
  align-items: flex-start;
  margin-bottom: 2.4rem;

}

.contact-inner-container {
  width: min(80rem, 90%);
  flex-direction: column;
  gap: 3.2rem;

  background: url('../images/contact_background_leaf.png') no-repeat top left;
}

/* contact header  */
.contact-header {
  flex-direction: column;
  gap: 1.2rem;
  color: var(--primaryDarkGreen);
}

.contact-header .main-heading {
  font-size: 6.4rem;
}

.contact-header .sub-heading {
  font-size: 3.2rem;
  font-weight: 700;
}

/* contact form  */
.contact-form {
  width: 100%;
  flex-direction: column;
  gap: 2.4rem;
}

.contact-form-item {
  width: 100%;
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
}

.contact-form-item label,
.contact-btn {

  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primaryDarkGreen);
}

.contact-form-item input,
.contact-form-item textarea {
  width: 100%;
  border-radius: 1.2rem;
  border: 1px solid var(--primaryDarkGreen);
  padding: 1.8rem;
  resize: none;
  font-size: 1.8rem;
  color: var(--primaryDarkGreen);

}

.contact-form-item input::placeholder,
.contact-form-item textarea::placeholder {
  font-size: 1.8rem;
  font-family: Aligarh;
  color: var(--neutralGray);
}

.contact-form-item textarea::-webkit-scrollbar {
  width: .8rem;

}

.contact-form-item textarea::-webkit-scrollbar-track {
  background-color: var(--neutralGray);
  border-radius: 5rem;
}

.contact-form-item textarea::-webkit-scrollbar-thumb {
  background-color: var(--primaryGreen);
  border-radius: 5rem;
}

.contact-form-item textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--primaryDarkGreen);
}

/* contact button */
.contact-btn {
  width: 100%;
  margin-top: 4.8rem;
  background: none;
  border-radius: 4rem;
  border: 1px solid var(--primaryDarkGreen);
  padding: 1.2rem;
  gap: 1.2rem;
  transition: .3s;
  cursor: pointer;
  font-family: Aligarh;
}

.contact-btn:hover {
  background-color: var(--primaryDarkGreen);
  color: var(--neutralGray);
}

.contact-btn svg {
  width: 1.6rem;
  margin-top: .6rem;
  transition: .6s;
}

.contact-btn:hover svg path {
  fill: var(--neutralGray);
}
